<ng-template #loading>
  <loading></loading>
</ng-template>
<div class="card-body row" *ngIf="rfqAction; else loading">
  <div class="col-6">
    <span class="card-subtitle font-weight-bold">Action Code :</span>
    <span class="card-text">{{ rfqAction.ActionCode }}</span>
  </div>
  <div class="col-6">
    <span class="card-subtitle font-weight-bold">Action Time :</span>
    <span class="card-text">{{ rfqAction.ActionTime }}</span>
  </div>
  <div class="col-6">
    <span class="card-subtitle font-weight-bold">Action Type :</span>
    <span class="card-text">{{ rfqAction.ActionType }}</span>
  </div>
  <div class="col-6">
    <span class="card-subtitle font-weight-bold">Representative :</span>
    <span class="card-text">{{ rfqAction.CompanyRepresentative }}</span>
  </div>
  <div class="col-6">
    <span class="card-subtitle font-weight-bold">Comments :</span>
    <span class="card-text">{{ rfqAction.Comments }}</span>
  </div>
</div>