.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus
{
    background-color: dimgray;
    border-color: dimgray;
    color: white;
}

.scroll-wrapper {
    margin: 0 0 0 10px;
}

.scroll-content {
    height: auto;
}