<div class="row">
        <div class="col-sm-6">
                <form #f="ngForm" (submit)="logForm(f.value)">
                        <div class="content p-1 pr-2">
                                <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <span class="required">*</span>
                                        <input id="firstName" name="firstName" [(ngModel)]="firstName" required minlength="3" #FirstName="ngModel" type="text" class="form-control">
                                        <div class="alert alert-danger" *ngIf="FirstName.touched && !FirstName.valid">
                                                <div *ngIf="FirstName.errors?.required">
                                                        First name is required
                                                </div>
                                                <div *ngIf="FirstName.errors?.minlength">
                                                        minmum {{ FirstName.errors.minlength.requiredLength }} characters
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <span class="required">*</span>
                                        <input id="lastName" name="lastName" [(ngModel)]="lastName" required minlength="3" #LastName="ngModel" type="text" class="form-control">
                                        <div class="alert alert-danger" *ngIf="LastName.touched && !LastName.valid">
                                                <div *ngIf="LastName.errors?.required">
                                                        last name is required
                                                </div>
                                                <div *ngIf="LastName.errors?.minlength">
                                                        minmum {{ LastName.errors.minlength.requiredLength }} characters
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="companyName">Company Name</label>
                                        <span class="required">*</span>
                                        <input id="companyName" name="companyName" type="text" [(ngModel)]="companyName" #CompanyName="ngModel" class="form-control"
                                                required>
                                        <div class="alert alert-danger" *ngIf="CompanyName.touched && !CompanyName.valid">
                                                Comapny Name is required
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <span class="required">*</span>
                                        <input id="email" name="email" placeholder="email@domain.com" type="email" class="form-control" [(ngModel)]="email" #Email="ngModel"
                                                [email]="true" required>
                                        <div class="alert alert-danger" *ngIf="Email.touched && !Email.valid">
                                                <div *ngIf="Email.errors.required">
                                                        Email is required
                                                </div>
                                                <div *ngIf="!Email.errors.valid">
                                                        Enter valid mail
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <span class="required">*</span>
                                        <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <div class="input-group-text">+20</div>
                                                </div>
                                                <input pattern="[0-9]+" required minlength="10" maxlength="20" id="phoneNumber" name="phoneNumber" type="text" class="form-control"
                                                        [(ngModel)]="phoneNumber" #PhoneNumber="ngModel">
                                        </div>
                                        <div class="alert alert-danger" *ngIf="PhoneNumber.touched && !PhoneNumber.valid">
                                                <div *ngIf="PhoneNumber.errors?.required">
                                                        phone number is required
                                                </div>
                                                <div *ngIf="PhoneNumber.errors?.pattern && PhoneNumber.errors?.pattern">
                                                        Enter valid phone number
                                                </div>
                                                <div *ngIf="PhoneNumber.errors?.minlength">
                                                        minmum {{ PhoneNumber.errors?.minlength.requiredLength }} numbers
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group radio-group row">
                                        <div class="col-md-4 p-1">
                                                <input type="radio" id="control_01" name="select" value="1" checked>
                                                <label for="control_01">
                                                        <h4>Lite</h4>
                                                        <p class="font-weight-bold">400 EGP <span class="bundle-feature">5 Users</span></p>
                                                </label>
                                        </div>
                                        <div class="col-md-4 p-1">
                                                <input type="radio" id="control_02" name="select" value="2">
                                                <label for="control_02">
                                                        <h4>Standard</h4>
                                                        <p class="font-weight-bold">850 EGP <span class="bundle-feature">15 Users</span></p>
                                                        <p class="bundle-footer">+ Lite edition features</p>
                                                </label>
                                        </div>
                                        <div class="col-md-4 p-1">
                                                <input type="radio" id="control_03" name="select" value="3">
                                                <label for="control_03">
                                                        <h4>Enterprise</h4>
                                                        <p class="font-weight-bold">Contact us</p>
                                                        <p class="bundle-footer">+ standard edition features</p>
                                                </label>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="products">Product</label>
                                        <select name="products" id="products" [(ngModel)]="products" #Products="ngModel" class="form-control">
                                                <option value="1">Product 1</option>
                                                <option value="2">Product 2</option>
                                                <option value="3">Product 3</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                        <re-captcha name="captcha" ngModel #captcha="ngModel" required siteKey="6Ldk7D4UAAAAAPJpIWo0uqnitrcZGVyJOGg2BE3w"></re-captcha>
                                </div>
                        </div>
                        <div class="p-1 pt-3">
                                <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
                                <button class="btn btn-danger" type="reset">Reset</button>
                                <button class="btn btn-secondary float-right" type="button" (click)="closeDialog()">Cancel</button>
                        </div>
                </form>

        </div>

        <div class="col-sm-6 col-hidden">
                <div class="card card-fixed sticky-top">
                        <div class="card-body">
                                <h5 class="card-title">
                                        <u> Cart Details </u>
                                </h5>

                                <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                                <p class="card-text"> {{companyName}} </p>
                                <p class="card-text"> {{email}} </p>
                                <p class="card-text"> {{phoneNumber}} </p>
                        </div>
                </div>
        </div>
</div>