<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img data-placeholder="no" class="img-fluid" src="/assets/images/logo2x.png" alt="ACS" style="opacity: 1; visibility: visible;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="Rfq" class="nav-link">
          Manage Requests
        </a>
      </li>
      <li class="nav-item" *ngIf="!accountService.isLoggedIn">
        <a routerLink="/login" class="nav-link">
          Login
        </a>
      </li>
      <li class="nav-item signout-btn" *ngIf="accountService.isLoggedIn">
        <a (click)="accountService.logout()" class="nav-link">
          Log Out
        </a>
      </li>
    </ul>
  </div>

</nav>