<form #f="ngForm" (submit)="logForm(f.value)">
  <div class="card-body row" *ngIf="rfqStatus">
    <div class="col-6">
      <span class="font-weight-bold col-form-label-sm">Action Code :</span>
      <input type="text" readonly [(ngModel)]=" rfqStatus.actionCode" name="actionCode" class="form-control form-control-sm">

    </div>
    <div class="col-6">
      <span class="font-weight-bold col-form-label-sm">Action Time :</span>
      <input type="text" readonly [(ngModel)]="rfqStatus.actionTime" name="actionTime" class="form-control form-control-sm">

    </div>
    <div class="col-6">
      <span class="font-weight-bold col-form-label-sm">Action Type :</span>
      <select name="actionType" id="actionType" class="form-control form-control-sm" [(ngModel)]="rfqStatus.actionType">
        <option *ngFor="let type of action_Types" [value]="type.value"> {{ type.name }} </option>
      </select>
    </div>
    <div class="col-6">
      <span class="font-weight-bold col-form-label-sm">Representative <span class="text-danger">*</span>: </span>
      <input type="text" required [(ngModel)]="rfqStatus.companyRepresentative" #companyRepresentative="ngModel" name="companyRepresentative" class="form-control form-control-sm">
      <div class="alert-danger" *ngIf="companyRepresentative.touched && companyRepresentative.invalid">
        <div *ngIf="companyRepresentative.errors.required">
          <small>You can't leave this empty.</small>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="rfqStatus.actionType != 0">
      <summary-info [actionType]="actionTypeDialog" (addSummary)="addSummary($event)"></summary-info>
    </div>
    <div class="col-12">
      <span class="font-weight-bold col-form-label-sm"> {{ action_Types[rfqStatus.actionType].name }} Summary :</span>
      
      <textarea type="text" [(ngModel)]="rfqStatus.comments" required name="comments" class="form-control form-control-sm">
      </textarea>
      
    </div>
    <div class="col-12 buttons">
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="f.invalid">Save</button>
        <button class="btn btn-danger btn-sm" type="button" (click)="closeForm()">Cancel</button>
    </div>
  </div>
</form>