<div class="row scroll-wrapper scroll-wrapper-main">
  <div class="col-4">
    <list-view [dataService]="emailSenderService" [displayMembers]="'email'" (add)="newSender()" (change)="newRecord = false"></list-view>
  </div>
  <div class="col p-0">
    <div class="card card-square-corners scroll-content">
      <div class="card-header">
        <strong>Email Senders</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="email">Email :</label>
            <input formControlName="email" id="email" type="text" class="form-control" [(ngModel)]="emailSender.email">
            <div *ngIf="Email.touched && Email.invalid" class="alert alert-danger">
              <div *ngIf="Email.errors['required']">Email field is required.</div>
              <div *ngIf="Email.errors['email']">This is not a valid email address.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password :</label>
            <input formControlName="password" id="password" type="password" class="form-control" [(ngModel)]="emailSender.password">
            <div *ngIf="Password.touched && Password.invalid" class="alert alert-danger">
              <div *ngIf="Password.errors['required']">Password field is required.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button [disabled]="form.invalid" class="btn btn-dark" type="button" (click)="saveSender()">Save</button>
      </div>
    </div>
  </div>
</div>