<div class="card scroll-content">
  <div class="card-header">
    <strong> Product Editions
      <button matTooltip="Add Edition" matTooltipPosition="left" class="btn btn-dark btn-sm  float-sm-right" (click)="addEditionDialog()">
        <i class="fa fa-plus"></i>
      </button>
    </strong>
  </div>
  <div class="scroll-content">
    <table class="table table-hover">
      <tr *ngFor="let Edition of prodEditionList">
        <td style="width: 30%"class="text-center"> {{ Edition?.englishName }}</td>
        <td style="width: 30%"class="text-center"> {{ Edition?.arabicName }}</td>
        <td>
          <a class="btn btn-link float-right" matTooltip="Delete Edition" matTooltipPosition="above" (click)="DeleteEdition(Edition)">
            <i class="fa fa-trash"></i>
          </a>
          <a class="btn btn-link float-right" matTooltip="Edit Edition" matTooltipPosition="above" (click)="openDialog(Edition)">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>