<div class="card scroll-content">
  <div class="card-header">
    <strong> Product Editions
      <button matTooltip="Add Edition" matTooltipPosition="left" class="btn btn-dark btn-sm  float-sm-right" (click)="addEditionDialog()">
        <i class="fa fa-plus"></i>
      </button>
    </strong>
  </div>
  <table class="table m-0">
    <tr>
      <th> English Name </th>
      <th> Arabic Name </th>
      <th></th>
    </tr>
  </table>
  <div class="scroll-content">
    <table class="table table-hover">
      <tr *ngFor="let Edition of prodEditionList">
        <td> {{ Edition?.englishName }}</td>
        <td> {{ Edition?.arabicName }}</td>
        <td>
          <a class="btn btn-link" matTooltip="Delete Edition" matTooltipPosition="above" (click)="DeleteEdition(Edition)">
            <i class="fa fa-remove"></i>
          </a>
          <a class="btn btn-link" matTooltip="Edit Edition" matTooltipPosition="above" (click)="openDialog(Edition)">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>