<div class="card card-square-corners scroll-wrapper">
  <div class="card-header bg-light pb-0">
    <div class="row pr-1 pl-1">
      <input type="text" name="search" id="search" class="form-control form-control-sm mt-1 mr-1 mb-1 col" placeholder="Search..."
        [(ngModel)]="searchFilter" (keyup)="applyFilter()">
      <button class="btn btn-light btn-sm m-1 col-1 p-0" (click)="refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
      <button class="btn btn-light btn-sm m-1 col-1 p-0" (click)="addRfq()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="row pr-1 pl-1">
      <ul class="nav nav-tabs col rfq-tabs">
        <li class="nav-item w-50">
          <a class="nav-link clickable text-center" [ngClass]="{'active': tabIndex === 0}" (click)="onTabIndexChanged(0)">Current</a>
        </li>
        <li class="nav-item w-50">
          <a class="nav-link clickable text-center" [ngClass]="{'active': tabIndex === 1}" (click)="onTabIndexChanged(1)">All</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-content">
    <div *ngIf="!isLoaded">
      <loading></loading>
    </div>
    <div class="alert" *ngIf="isLoaded && (rfqList?.length === 0)">There are no RFQs</div>
    <div class="list-group" *ngIf="isLoaded && rfqList">
      <a class="list-group-item card-text" (click)="selectRfq(i)" *ngFor="let rfqItem of rfqList; let i = index" [class.active]="selectedIndex == i">
        {{ rfqItem.contactPersonEnglishName }}; {{ rfqItem.companyEnglishName}}; {{ rfqItem.contactPersonMobile }}
        <a class="float-right" (click)="deleteRfq(rfqItem.rfqId)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </a>
    </div>
  </div>
</div>