<div class="card">
    <div class="card-header bg-dark text-white">
        <h3>RFQ Management</h3>
    </div>
    <ng-template #loading>
        <loading></loading>
    </ng-template>
    <div class="list-group" *ngIf="rfqList; else loading">
        <a class="list-group-item card-text" (click)="filter(rfqItem, i)" *ngFor="let rfqItem of rfqList; let i = index"
            [class.active]="selectedIndex == i">
            {{ rfqItem.contactPersonEnglishName }}; {{ rfqItem.companyEnglishName}}; {{ rfqItem.contactPersonMobile }}
        </a>  
    </div>
</div>