<table class="table table-light table-sm table-hover mt-2">
  <thead class="thead-light">
    <tr>
      <th>Code</th>
      <th>Time</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let action of rfqActions">
      <td>{{ action.actionCode }}</td>
      <td>{{ action.actionTime | date:'yyyy/MM/dd HH:mm:ss' }}</td>
      <td>{{ actionTypesMap[action.actionType] }}</td>
      <td>
        <a class="btn btn-link" matTooltip="Edit Action" matTooltipPosition="above" (click)="openStatusEditDialog(action)">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>