<!-- RFQ Details -->
<form #f="ngForm" (submit)="submit()">
  <div class="row">
    <div class="col-6">
      <label for="companyEnglishName" class="col-form-label-sm">Company :</label>
      <input type="text" id="companyEnglishName" name="companyEnglishName" [(ngModel)]="rfq.companyEnglishName" [value]="rfq.companyEnglishName"
        class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="contactPersonEnglishName" class="col-form-label-sm">Contact Person :</label>
      <input type="text" id="contactPersonEnglishName" name="contactPersonEnglishName" [(ngModel)]="rfq.contactPersonEnglishName"
        [value]="rfq.contactPersonEnglishName" class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="contactPersonEmail" class="col-form-label-sm">Email :</label>
      <input type="text" id="contactPersonEmail" name="contactPersonEmail" [(ngModel)]="rfq.contactPersonEmail" [value]="rfq.contactPersonEmail"
        class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="contactPersonMobile" class="col-form-label-sm">Mobile No. :</label>
      <input type="text" id="contactPersonMobile" name="contactPersonMobile" [(ngModel)]="rfq.contactPersonMobile" [value]="rfq.contactPersonMobile"
        class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="phoneNumber" class="col-form-label-sm">Phone No. :</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="rfq.phoneNumber" [value]="rfq.phoneNumber" class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="targetedProduct" class="col-form-label-sm">Product :</label>
      <select name="targetedProduct" id="targetedProduct" required class="custom-select form-control form-control-sm" [(ngModel)]="rfq.targetedProductId" (change)="productChange($event)">
        <option *ngFor="let product of products" [value]="product.id">{{ product.englishName }}</option>
      </select>
    </div>

    <div class="col-6">
      <label for="selectedBundle" class="col-form-label-sm">Edition :</label>
      <select name="selectedBundle" id="selectedBundle" required class="custom-select form-control form-control-sm" [(ngModel)]="rfq.selectedEditionId">
        <option *ngFor="let edition of editions" [value]="edition.id">{{ edition.englishName }}</option>
      </select>
    </div>

    <div class="col-6">
      <label for="website" class="col-form-label-sm">Website :</label>
      <input type="text" id="website" name="website" [(ngModel)]="rfq.website" [value]="rfq.website" class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="location" class="col-form-label-sm">Location :</label>
      <input type="text" id="location" name="location" [(ngModel)]="rfq.location" [value]="rfq.location" class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="address" class="col-form-label-sm">Address :</label>
      <input type="text" id="address" name="address" [(ngModel)]="rfq.address" [value]="rfq.address" class="form-control form-control-sm">
    </div>

    <div class="col-6">
      <label for="status" class="col-form-label-sm">Current Status :</label>
      <select name="status" id="status" required class="custom-select form-control form-control-sm" [(ngModel)]="rfq.status">
        <option *ngFor="let status of statuses" [value]="status.value">{{ status.name }}</option>
      </select>
    </div>

    <div class="col-6" *ngIf="dialogData.mode === 'new'">
      <div class="form-check mt-5">
        <input class="form-check-input" type="checkbox" name="sendEmail" [(ngModel)]="rfq.sendEmail" checked="true" id="send-email">
        <label class="form-check-label" for="send-email">
          Send welcome email?
        </label>
      </div>
    </div>

    <div class="col-12 mt-1">
      <input type="hidden" name="rfqId" [(ngModel)]="rfq.rfqId">
      <button type="submit" class="btn btn-dark btn-sm mr-1 mt-2">
        Save
      </button>
      <button type="button" class="btn btn-dark btn-sm mt-2" (click)="closeDialog()">
        Cancel
      </button>
    </div>
  </div>
</form>