  <div class="row">
  <div class="col-6">
      <div class="form-group">
          <label class="col-form-label-sm"> Where</label>
          <input 
          type="text"
          #Where="ngModel"
          class="form-control control-sm"
          name="where"
          (blur)="changeItem()"
          [(ngModel)]="actionType.where">
      </div>
      <div class="form-group">
        <label for="">
            <small>Visit Reason</small>  
        </label>
        <input
         type="text"
         name="visitReason" 
         #VisitReason="ngModel"
         (blur)="changeItem()"
         [(ngModel)]="actionType.visitReason"
         class="form-control control-sm">
      </div>
      <div class="form-group">
        <div class="input-group-sm mb-3">
            <label class="col-form-label-sm"> Comments </label>
            <input 
            type="text" 
            class="form-control control-sm" 
            #Comment="ngModel"
            (blur)="changeItem()"
            name="comment" 
            [(ngModel)]="actionType.comment">
        </div>
      </div>

  </div>
  <div class="col-6">
    <div class="form-group">
        <label class="col-form-label-sm"> Who Attended </label>
        <div class="form-inline input-group">
            <input 
            type="text"
            name="attend"
            #Attend
            class="form-control control-sm">
            <div class="input-group-append">
                <div class="input-group-text"
                (click)="addItem(Attend)">
                <a matTooltip="Add Person" matTooltipPosition="right">
                    <i class="fa fa-plus text-info"></i>
                </a>
                </div>
            </div>
        </div>
        <div class="form-inline input-group" *ngFor="let item of actionType.attende">
            <input type="text" readonly class="form-control control-sm" [value]="item">
            <div class="input-group-append">
                <div class="input-group-text" (click)="removeItem(item)">
                <a matTooltipPosition="right">
                    <i class="fa fa-trash text-danger"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>




