.required{
    color: #ff0707;
}

.form-control.ng-invalid.ng-touched{ 
    border: 1px solid #ff0707 ;
}

.alert-danger { 
    color: #ff0707;
    padding : 0px;
    background-color: white;
    border: 0px none white ;
}

.input-group-prepend {
    width: 20%;
}

.country-code.input-group-text{ 
    background-color: white !important;
}

.Searchtxt {
    border: 0;
    width: 100%;
}

.summary-card {
    top: 190px;
    width: 32%;
    box-shadow: 2px 2px 2px;
}
