<div class="row">
  <div class="col-4">
    <rep-list></rep-list>
  </div>
  <div class="col-8">
    <div class="position-fixed">
      <div class="card">
        <div class="card-header">
          <ng-template #sec>
            <h3> New Represintitive </h3>
          </ng-template>
          <div *ngIf="(rep | json) != '{}' ; else sec">
           <h3> {{ rep.name }} </h3> 
          </div>
        </div>
        <div class="card-body">
          <rep-form></rep-form>
        </div>
      </div>
    </div>
  </div>
</div>