<div class="row scroll-wrapper scroll-wrapper-main">
  <div class="col-4">
    <!-- <rep-list></rep-list> -->
    <list-view [dataService]="repService" [displayMembers]="'name'" (add)="addrep()"></list-view>
  </div>
  <div class="col">
    <div class="card scroll-content">
      <div class="card-header">
        <strong> Represintitives </strong>
      </div>
      <div class="card-body">
        <rep-form #repForm></rep-form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>