

<div class="row">
  <div class="col-4">
    <product-list></product-list>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <ng-template #sec>
            <h3> New Product </h3> 
           </ng-template>
           <div *ngIf="(product | json) != '{}' ; else sec">
              <h3> Product Details </h3>
           </div>
      </div>
      <div class="card-body">
        <product-form></product-form>
      </div>
      <div class="card-footer" *ngIf="product">
        <product-edition-list></product-edition-list>
      </div>
    </div>
  </div>
</div>