

<div class="row">
  <div class="col-4">
    <product-list [productItem]="product" [reload]="reload" (submitProduct)="selectProduct($event)"></product-list>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <ng-template #sec>
            <h3> New Product </h3> 
           </ng-template>
           <div *ngIf="(product | json) != '{}' ; else sec">
              <h3> Product Details </h3>
           </div>
      </div>
      <div class="card-body">
        <product-form [productItem]="product" [status]='status' (reload)="reloadList($event)" ></product-form>
      </div>
      <div class="card-footer" *ngIf="product">
        <product-edition-list [product]="product"></product-edition-list>
      </div>
    </div>
  </div>
</div>