<div class="row scroll-wrapper scroll-wrapper-main">
  <div class="col-4">
    <list-view [dataService]="productService" [displayMembers]="'englishName'" (add)="addProd()"></list-view>
    <!-- <product-list></product-list> -->
  </div>
  <div class="col-8 p-0">
    <div class="card card-square-corners scroll-content">
      <div class="card-header">
          <strong> Products </strong>
      </div>
      <div class="card-body">
        <product-form #productForm></product-form>
      </div>
      <div class="card-footer scroll-content p-1" *ngIf="product">
        <product-edition-list></product-edition-list>
      </div>
    </div>
  </div>
</div>