@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body { 
  padding: 90px 0 0 0;
  background-color: #eeebe4;
  height: 100%;
}

.list-group-item.small {
  padding: 10px;
}

.scroll-wrapper-main {
  margin: 90px 5px 5px 5px;
}

.scroll-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scroll-wrapper .card,
.scroll-wrapper .card-body,
.scroll-wrapper .row,
.scroll-content
{
  overflow: auto;
  height: 100%;
}

.snack-bar-error {
  background-color: red;
}

.clickable {
  cursor: pointer;
}

div.radio-group {
    height: 150px;
    display: flex;
    flex-flow: row wrap;

  .bundle-title {
    font-size:18px;
    font-weight: bold;
    color: #f7935c;
  }

  .bundle-price {
    font-size:12px;
    font-weight: bold;
    color: #2fcfd4;
  }
  
  .bundle-feature {
    font-size:8px;
  }

  .bundle-footer {
    font-size:10px;
  }

  div.radio-group > div {
    padding: 0;
  }
  input[type="radio"] {
    display: none;
    &:not(:disabled) ~ label {
      cursor: pointer;
    }
    &:disabled ~ label {
      color: hsla(150, 5%, 75%, 1);
      border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #e5ded6;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    //margin: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
  }
  input[type="radio"]:checked + label {
    background: #000000;
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #151313;
    &::after {
      color: #000000;
      font-family: FontAwesome;
      border: 2px solid #33c4b6;
      content: "\f00c";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px hsla(0, 66%, 53%, 1);
    }
  }
}
  
  @media only screen and (max-width: 700px) {
    div.radio-group {
      flex-direction: column;
    }
  }

  .layout-rtl {
    direction: rtl;

    // fix bootstrap input-group rtl issue
    .input-group .input-group-prepend .input-group-text {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
    
    .input-group .form-control:not(:first-child):last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    
    .input-group .form-control:not(:first-child):not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .input-group .form-control:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    
    .input-group .input-group-append .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-right: none;
    }
    // end of 'fix bootstrap input-group rtl issue'

    // fix list-group-item rtl issue
    .list-group-item {
        text-align: right;
    }
    // end of 'fix list-group-item rtl issue'
}

.layout-ltr {
    direction: ltr;
}