
.plus{
    cursor: pointer;
    font-size: 24px;
}

.remove{
    cursor: pointer;
    color: #e03b3b;
    font-size: 26px;
    margin-top: -3px;    
}

.attendItem{
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 170px;
    padding-top: 6px;
    width: 18%;
}

.list-group > li { 
    padding: 3px 0px 0px 5px;
    width: 100%;
}