<form #f (submit)="submit(actionType)">
    <div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Where</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-6 h-25">
            <label for="">Who Attended</label>
            <div class="form-inline">
                <input type="text" name="attend" #Attend class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text plus" (click)="addItem(Attend.value)">
                    <span matTooltip="Add Person" matTooltipPosition="right" class="fa fa-plus" ></span>
                    </div>
                </div>
            </div>
            <ul class="list-group attendItem">
                <li *ngFor="let item of actionType.attende" class="list-group-item"> {{ item }}  
                    <span class="input-group-text fa fa-trash remove float-right" (click)="removeItem(item)"></span>
                </li>
            </ul>
    </div>


    <div class="col-6">
        <div class="row">
                <div class="col-12">
                        <div class="form-group">
                            <label for="">Visit Reason</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="col-12">
                            <div class="form-group">
                                <label for="">Comments</label>
                                <input type="text" class="form-control">
                            </div>
                    </div>
        </div>
    </div>
</div>
<button type="submit">Save</button>
</form>